.#*
*~
*.bak
*.o
*.so

.deps/
.libs/
.dirstamp
*.la
*.ldd
*.lo
*.pak
*.su
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/build-aux/
/config.*
/configure
/configure~
/libtool
/stamp-h1

/sqlite-worker
/testproxy
